{% extends "base.html" %}
{% block content %}
<h2>🧌🕜 Difficulty: {{ difficulty| capitalize }} (1-{{ max }})</h2>
<h3>🏆 Total Score: {{ Score }}</h3>
<h4>⭐ Current Points: {{ points }}</h4>
<form method="POST">
    <input type="number" name="guess" placeholder="Enter Your Guess" required>
    <br><br>
    <button type="submit">Guess</button>
</form>
{% if message %}
<p><strong>{{ message}}</strong></p>
{% endif %}
{% if error %}
<P style="color:red;">{{ error }}</p>
{% endif %}
<hr>
<h3>🚦Change Difficulty</h3>
<form method="POST">
    <button name="difficulty" value="easy">Easy</button>
    <button name="difficulty" value="medium">MEdium</button>
    <button name="difficulty" value="hard">Hard</button>
</form>
<hr>
<form method="POST">
    <button name="restart">🔁 Restart Game</button>
</form>
{% endblock %}


